<h1 mat-dialog-title>Adicionar Categoria</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label >Nome da categoria</mat-label>
      <input matInput formControlName="nome" name="nome">
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" [disabled]="form.invalid" >Adicionar</button>
</div>

