
  <div class="background">
      <div class="container">
        <mat-card class="mt-3 mb-5 mat-card-grande">
          <div>
            <mat-card class="mb-3">
              <div>
                <mat-form-field>
                <mat-label><mat-icon>search</mat-icon>Search By Name </mat-label>
                  <input class="text-uppercase" matInput type="text" [(ngModel)]="searchInputText" (keyup)="forEachTypedCharacter($event)" >
                  <button *ngIf="searchInputText" matSuffix mat-icon-button aria-label="Clear" (click)="limparFiltro()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field class="select-categoria">
                  <mat-label >Category</mat-label>
                  <mat-select [(value)]="selected" (valueChange)="listarGamesPorCategoria($event)">
                    <mat-option  value="ALL">
                      ALL
                    </mat-option>
                    <mat-option *ngFor="let categoria of categoriasList" [value]="categoria">
                      {{categoria.nome}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button style="float: right;" class="botao-adicionar" mat-raised-button (click)="adicionarGame()" > <mat-icon>add</mat-icon>New Game</button>
              </div>

            </mat-card>

            <div class="row">
              <ng-container *ngFor="let game of gamesList">
                <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3 ">
                  <mat-card class="card-jogos">
                    <h3 class="card-text-overflow">{{ game.nome }}</h3>
                    <div>
                      <p class="subtittle-card" style="float: left;"> {{ game.anoLancamento}} </p>
                      <span class="example-spacer"></span>
                      <p *ngIf=" game.preco > 0" class="subtittle-card-price" style="float: right;"> {{ game.preco | currency: 'BRL'}} </p>
                      <p *ngIf=" game.preco == 0" class="subtittle-card-price" style="float: right;"> R$ Free </p>
                    </div>

                    <img class="img-responsive"  min-width="120" min-height="100" max-height="100" src="{{ game.urlImagem}}" (click)="seeGameDetails(game.id)" />
                    <mat-card-actions align="end">
                      <button mat-icon-button>
                          <mat-icon color="primary" (click)="atualizarGame(game.id)">mode_edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn">
                            <mat-icon (click)="excluirGame(game)">delete</mat-icon>
                      </button>
                  </mat-card-actions>
                  </mat-card>
                </div>
              </ng-container>
              <div class="texto-vazio text-center" *ngIf="gamesList.length == 0">
                <p *ngIf="categoriaSelecionada == 'ALL'">Sorry, there's no game registered :(</p>
                <p *ngIf="categoriaSelecionada != 'ALL'">Sorry, there's no {{ categoriaSelecionada }} 's game registered :(</p>
              </div>
            </div>
        </div>

        <mat-paginator [length]="totalElements"
              [pageSize]="pageSize"
              aria-label="Select page"
              [pageIndex]="page"
              (page)="onPaginateChange($event)">
        </mat-paginator>
        </mat-card>
    </div>
    </div>
