.mat-card-grande{
  background-image: radial-gradient(circle,
   #5c1313, #601414, #641515, #681616, #6c1717, #6e1817, #701818, #721918, #731918, #741a19, #751a19, #761a1a);
}

.botao-adicionar{
  color:white;
  background-color: rgb(64, 165, 106);
  width: 100%
}

.botao-adicionar:hover{
  background-color: rgb(48, 126, 80);
}

.example-full-width{
  width: 100%;
}
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: white;
  font-size: 25px;
  font-weight: 500;
  padding: 18px 18px;
  border-radius:  8px 8px 0 0;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 0px 0;
  width: 100%;
  background-color: #1F487E;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.texto-vazio{
  padding: 15px 0px;
  font-size: 2em;
  color: white;
}
