<header class="stick-top">
  <mat-toolbar class="background-header justify-content-center" >
    <div>
       <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>gamepad</mat-icon>
    </button>
    <span class="text-uppercase header-title">Gaming World</span>
    </div>
  </mat-toolbar>
  <div class="background-navbar ">
    <div class="container ">
      <div class="logo-container d-flex justify-content-center text-uppercase">
        <ul class="nav">
          <div class="opcao-navbar">
            <li routerLinkActive="active" [routerLink]="['/home']" class="nav-item p-2">
              <a>HOME</a>
            </li>
          </div>

          <div class="opcao-navbar">
            <li routerLinkActive="active" [routerLink]="['games']" class="nav-item p-2">
              <a>GAMES</a>
            </li>
          </div>
          <div class="opcao-navbar">
            <li routerLinkActive="active" [routerLink]="['categorias'] "class="nav-item p-2">
              <a>CATEGORIES</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>



