<h1 mat-dialog-title>Edit Game</h1>
<div mat-dialog-content>
  <form  [formGroup]="form">

    <app-mensagem
    *ngIf="form.errors?.['nomeJogoIgualNomeEmpresa']"
    mensagem="The game's name can't be the same as the company's name! ">
    </app-mensagem>
    <app-mensagem
    *ngIf="form.get('nome')?.errors?.['existentGame']"
    mensagem="This game already exists!"
    ></app-mensagem>
    <mat-form-field class="example-full-width">
      <mat-label >Name</mat-label>
      <input matInput formControlName="nome" class="text-uppercase" oninput="this.value = this.value.toUpperCase()" >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label >Category</mat-label>
      <mat-select  formControlName="nomeCategoria">
        <mat-option disabled>Select a category</mat-option>
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.nome">{{categoria.nome}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" >
      <mat-label>Description</mat-label>
      <textarea matInput #message formControlName="descricao" maxlength="500" placeholder="Write the game's description." rows="6"></textarea>
      <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label >Release Year </mat-label>
      <input matInput formControlName="anoLancamento" >
    </mat-form-field>

    <app-mensagem
      *ngIf="form.errors?.['nomeJogoIgualNomeEmpresa']"
      mensagem="The company's name can't be the same as the game's name! ">
      </app-mensagem>
    <mat-form-field class="example-full-width">
      <mat-label >Company</mat-label>
      <input matInput formControlName="empresa" oninput="this.value = this.value.toUpperCase()">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label >Price</mat-label>
      <input matInput formControlName="preco" type="number">
    </mat-form-field>

    <app-mensagem *ngIf="form.get('urlImagem')?.errors?.['maxlength'] &&
    form.get('urlImagem')?.touched"
    mensagem="Url is too big!!">
    </app-mensagem>
    <mat-form-field class="example-full-width">
      <mat-label >Image URL</mat-label>
      <input matInput formControlName="urlImagem" >
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="atualizarGame()">Update Game</button>
</div>
