<body>
    <div class="box-apresentacao">
      <div class="container">
        <div class="text-center text-uppercase">
          <h2 class="titulo">Bem-vindo(a)!</h2>
        </div>
        <div class="mt-5 p-4">
          <p class="texto-introducao text-center">
            Se você ama o mundo dos games, você está no lugar certo!
            Aqui você encontra todos os detalhes sobre os jogos do momento, indepente da plataforma!
          </p>
        </div>
        <div>
          <p class="texto-introducao text-center p-4">Escolha uma das opções e venha conferir!</p>
        </div>

        <div class="row">
          <div class="col-5 d-grid mx-auto mb-4">
            <a class="btn btn-light text-uppercase">GAMES</a>
          </div>
          <div class="col-5 d-grid mx-auto mb-4">
            <a class="btn btn-light text-uppercase">CATEGORIAS</a>
          </div>
        </div>
      </div>
    </div>
</body>

